<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Eat\&Share</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
     <link href="/css/heart.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    

<script type="text/javascript">
 
</script>
   </head>
<body style="background-color:#56830B;">

  <section>

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="/js/NavbarInicio.js"></script>
    <div>
      <video src="/images/presentacion.mp4" width="100%" height="70%" autoplay muted loop></video>
    </div>
  </section>
  
</body>
</html>